{{ define "content" }}
<div id="cates" class="admin">
    {{ include "layout/admin_tabs" . }}
    <div id="content" class="clearfix">
        <h2>管理分类</h2>
        <div class="message">保存成功</div>
        <div class="col-left">
            <form class="nf" action="/admin/cates" method="post" autocomplete="off">
                <div class="operate clearfix">
                    <div class="fl">
                        <a href="#">全选</a><span class="line">|</span><a href="#">反选</a>&nbsp;&nbsp;
                        <select name="gender" value="男">
                            <option value="男" selected>批量操作</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                </div>

                <table class="list">
                    <tbody>
                    <tr>
                        <th width="20">&nbsp;</th>
                        <th>分类名</th>
                        <th width="60">缩略名</th>
                        <th width="50">文章数</th>
                        <th width="80">操作</th>
                    </tr>

                    {{ if .Cates }}
                    {{ range .Cates }}
                    <tr>
                        <td><input type="checkbox" name="ids" value="{{.Id}}"/></td>
                        <td><a href="/categroy/{{.Domain}}">{{.Name}}</a></td>
                        <td>{{.Domain}}</td>
                        <td class="art-num">{{.Num}}</td>
                        <td><a href="/admin/cates?id={{.Id}}">编辑</a><span class="line">|</span><a
                                href="/admin/cate_delete?id={{.Id}}" rel="confirmTodo" title="确定要删除该分类？">删除</a></td>
                    </tr>
                    {{ end }}

                    {{ else }}
                    <tr>
                        <td colspan="5" align="center">还没有分类！</td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
                <div class="operate clearfix">
                    <div class="fl">
                        <a href="#">全选</a><span class="line">|</span><a href="#">反选</a>&nbsp;&nbsp;
                        <select name="gender" value="男">
                            <option value="男" selected>批量操作</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                    {{ include "layout/pagination" . }}
                </div>
            </form>
        </div>
        <div class="col-right">
            <form id="cate_form" class="vf" action="/admin/cates" method="post" autocomplete="off">
                <p><label class="label_input">分类名称</label>
                    <input type="hidden" name="id" value="{{.Cate.Id}}"/>
                    <input type="text" class="input_text" size="30" name="name" value="{{.Cate.Name}}"/></p>

                <p><label class="label_input">分类缩略名</label>
                    <input type="text" class="input_text" size="30" name="domain" value="{{.Cate.Domain}}"/>
                    <span class="hint">缩略名是在 URL 中使用的别称，它可以令 URL 更美观。建议使用字母,数字,下划线和横杠。</span>
                </p>
                <p>
                    <label class="label_input">分类描述</label>
                    <textarea name="desc" rows="5" cols="30">{{.Cate.Desc}}</textarea>
                    <span class="hint">描述将在分类meta中显示</span>
                </p>

                <p class="act"><input class="formbutton" type="submit" value="{{ if .Cate}}修改{{else}}添加{{end}}"></p>
            </form>
        </div>
    </div>
</div>
{{ end }}
{{ define "footer" }}
<script type="text/javascript">
    $('#cate_form').submit(function () {
        var ok = true;
        var $el = $('input[name="name"]');
        if ($.trim($el.val()) === '') {
            $el.focus().closest('p').addClass('error');
            ok = false;
        }
        $el = $('input[name="domain"]');
        if ($.trim($el.val()) === '') {
            $el.focus().closest('p').addClass('error');
            ok = false;
        }

        var self = this;
        $.ajax({
            'url': $(this).attr('action'),
            'type': this.method,
            'data': $(this).serializeArray(),
            'dataType': 'json',
            beforeSend: function (xhr) {
                $(self).find(':submit').addClass('formdisabled').attr('disabled', true);
            },
            error: function () {
                $(self).find(':submit').addClass('formdisabled').attr('disabled', true);
            },
            success: function (data) {
                if (data.statusCode === 200) {
                    window.location.reload();
                } else {
                    $('.message').html(data.message).show();
                }
            }
        });

        return false;
    });
</script>
{{ end }}