{{define "header"}}
<link media="screen" href="//cdn.staticfile.org/wangEditor/2.1.23/wangEditor.min.css" type="text/css" rel="stylesheet">
<style type="text/css">
    /*fix staticfile path*/
    @font-face {
        font-family: icomoon;
        src: url(//cdn.staticfile.org/wangEditor/2.1.23/fonts/icomoon.eot?-qdfu1s);
        src: url(//cdn.staticfile.org/wangEditor/2.1.23/fonts/icomoon.eot?#iefix-qdfu1s) format('embedded-opentype'), url(//cdn.staticfile.org/wangEditor/2.1.23/fonts/icomoon.ttf?-qdfu1s) format('truetype'), url(//cdn.staticfile.org/wangEditor/2.1.23/fonts/icomoon.woff?-qdfu1s) format('woff'), url(//cdn.staticfile.org/wangEditor/2.1.23/fonts/icomoon.svg?-qdfu1s#icomoon) format('svg');
        font-weight: 400;
        font-style: normal
    }
    .wangEditor-menu-container .menu-item{
        width: 31px;
    }
    .wangEditor-menu-container .menu-item a {
        font-size: 1em;
    }
    .wangEditor-container .wangEditor-txt pre {
        border: none;
        border-radius: 3px;
        background-color: transparent;
        padding: 0;
        margin: 0;
        font-size: 12px;
    }
    .wangEditor-container .wangEditor-txt blockquote {
        display: block;
        border-left: 3px solid #00ffff;
        margin: 10px 0;
        padding: 1px 10px;
        background-color:#f8f8f8;
    }
</style>
{{end}}
{{ define "content" }}
<div id="articles" class="admin">
    {{ include "layout/admin_tabs" . }}
    <div id="content">
        <h2>{{ if .Post }}编辑{{ else }}撰写{{ end }}文章<a href="/admin/articles"><i class="iconfont icon-undo" style="color: #444"></i>返回列表</a></h2>
        <div class="message"></div>
        <form id="article_form" class="vf" action="/admin/post/article" method="post"
              autocomplete="off">
            <div class="clearfix">
                <div class="col-left">
                    <p><label class="label_input">标题</label>
                        <input type="hidden" name="id" value="{{.Post.Id}}"/>
                        <input type="text" class="input_text" maxlength="200" size="50" name="title"
                               value="{{.Post.Title}}"/></p>
                    <p>
                        <label class="label_input">分类</label>

                        <select name="cate_id">
                            {{ range .Cates }}
                            <option value="{{.Id}}" {{if eq .Id $.Post.CateId}}selected{{end}}>{{.Name}}</option>
                            {{ end }}
                        </select>
                    </p>
                    <p><label class="label_input">缩略名</label>
                        <input type="text" class="input_text" maxlength="200" size="50" name="url"
                               value="{{.Post.Url}}"/>
                        <span class="hint">页面的URL名称，如红色部分http://domain.com/<span style="color: red;">about</span></span>
                    </p>
                </div>
                <div class="col-right">
                    <p><label class="label_input">类型</label>
                        {{ if .Post }}
                        <input class="input_check" name="type" type="radio" value="1" {{if eq .Post.Type 1}}checked{{end}}/> 文章
                        <input class="input_check" name="type" type="radio" value="2" {{if eq .Post.Type 2}}checked{{end}}/> 页面
                        {{ else }}
                        <input class="input_check" name="type" type="radio" value="1" checked/> 文章
                        <input class="input_check" name="type" type="radio" value="2"/> 页面
                        {{ end }}
                        <br/>
                        <!--<select name="power">-->
                            <!--<option value="1">公开</option>-->
                            <!--<option value="2">私密</option>-->
                        <!--</select>-->
                        <!--<input style="display: none" type="text" class="input_text" name="post_password"-->
                               <!--value="" size="20"/>-->
                    </p>
                </div>
            </div>
            <p>
                <textarea id="editor" name="content"
                          style="width:100%;height:400px;visibility:hidden;">{{ if .Post }}{{.Post.Content | Unescaped}}{{ end }}</textarea>
            </p>

            <p class="act"><input class="formbutton" type="submit" value="发布"><a id="_save_draft"
                                                                                 href="javascript:void(0)" class="ml10">保存草稿</a>
            </p>
        </form>

    </div>
</div>
{{ end }}
{{ define "footer" }}
<script src="//cdn.staticfile.org/wangEditor/2.1.23/wangEditor.min.js"></script>
<script>
    var editor = new wangEditor('editor');
    editor.config.uploadImgUrl = '/admin/post/upload';
    editor.config.menus = $.map(wangEditor.config.menus, function(item, key) {
        if (item === 'bgcolor' || item === 'fontfamily' || item === 'fontfamily') {
            return null;
        }
        return item;
    });

    editor.create();

    $('select[name="power"]').change(function () {
        var $password = $('input[name="post_password"]');
        if ($(this).val() == 2) {
            $password.show();
        } else {
            $password.hide();
        }
    });

    $('#_save_draft').click(function () {
        if (confirm('确定要保存草稿？')) {
            $('input[name="post_status"]').val(3);
            $(this).data('clickme', true);
            $('#article_form').submit();
        }

        return false;
    });

    $('#article_form').submit(function () {
        var self = this;
        var $el = $('input[name="title"]');
        if ($.trim($el.val()) === '') {
            $el.focus().closest('p').addClass('error');
            return false;
        }

        // if ($('select[name="power"]') == 1) {
        //     $(this).find('input[name="password"]').val('');
        // }

        // if (!$('#_save_draft').data('clickme')) {
        //     $('input[name="post_status"]').val(1);
        // }

        $.ajax({
            'url': $(this).attr('action'),
            'type': this.method,
            'data': $(this).serializeArray(),
            'dataType': 'json',
            beforeSend: function (xhr) {
                $(self).find(':submit').addClass('formdisabled').attr('disabled', true);
            },
            complete: function () {
                $(self).find(':submit').removeClass('formdisabled').attr('disabled', false);
            },
            success: function (data) {
                if (data.statusCode === 200) {
                    if (!$(self).find('input[name="post_id"]').val()) {
                        self.reset();
                    }
                    window.history.go(-1);
                } else {
                    alert(data.message);
                }
            }
        });

        return false;
    });
</script>
{{ end }}