{{ define "admin/post_user" }}
{{ template "layout/header" . }}
<div id="users" class="admin">
    {{ template "layout/admin_tabs" . }}
    <div id="content">
        <h2>{{ if .User}}编辑{{else}}新增{{end}}用户<a href="/admin/users"><img class="ico" src="{{StaticUrl}}style/images/back.png"/>返回列表</a></h2>
        <div class="message"></div>
        <form id="user_form" class="vf" action="/admin/post/user" method="post" autocomplete="off">

            <p><label class="label_input">用户名 <span class="desc">(必填)</span></label>
                <input type="hidden" name="id" value="{{.User.Id}}"/>
                <input class="input_text" size="50" name="name" value="{{.User.Name}}"></p>
            <span class="hint">此用户名将作为用户登录时所用的名称，请不要与系统中现有的用户名重复。</span>
            <p>

            <p><label class="label_input">邮箱 <span class="desc">(必填)</span></label>
                <input class="input_text" size="50" name="email" value="{{.User.Email}}"></p>
            <span class="hint">电子邮箱地址将作为此用户的主要联系方式，请不要与系统中现有的电子邮箱地址重复。</span>
            <p>

            <p><label class="label_input">昵称</label>
                <input class="input_text" size="50" name="nick_name" value="{{.User.NickName}}"></p>
            <span class="hint">用户昵称可以与用户名不同, 用于前台显示，如果你将此项留空，将默认使用用户名。</span>

            <p>
                <label class="label_input">密码 <span class="desc">(必填)</span></label>
                <input type="password" class="input_text" size="50" name="password" value=""></p>
            <span class="hint">为用户分配一个密码。</span>

            <p><label class="label_input">确认密码 <span class="desc">(必填)</span></label>
                <input type="password" class="input_text" name="password2" value="" size="50"/>
                <span class="hint">请确认你的密码，与上面输入的密码保持一致。</span>
            </p>

            <p><label class="label_input">角色 <span class="desc">(必填)</span></label>
                <select name="type">
                    <option value="1" {{if .User}}{{if eq .User.Type 1}}selected{{end}}{{end}}>管理员</option>
                    <option value="2" {{if .User}}{{if eq .User.Type 2}}selected{{end}}{{end}}>编辑</option>
                </select>
                <span class="hint">管理员具有所有操作权限，编辑仅能包含文章、评论、心情的操作权限。</span>
            </p>

            <p class="act"><input class="formbutton" type="submit" value="保存"></p>
        </form>

    </div>
</div>
<script type="text/javascript">
    $('#user_form').submit(function(){
        var self = this;

        var $el = $('input[name="name"]');
        if($.trim($el.val()) === ''){
            $el.focus().closest('p').addClass('error');
            return false;
        }

        $el = $('input[name="email"]');
        if($.trim($el.val()) === ''){
            $el.focus().closest('p').addClass('error');
            return false;
        }

        $el = $('input[name="password"]');
        if($.trim($el.val()) === ''){
            $el.focus().closest('p').addClass('error');
            return false;
        }

        var $el2 = $('input[name="password2"]');
        if($.trim($el2.val()) === '' || $.trim($el.val()) !== $.trim($el2.val())){
            $el2.focus().closest('p').addClass('error');
            return false;
        }

        $.ajax({
            'url': $(this).attr('action'),
            'type': this.method,
            'data': $(this).serializeArray(),
            'dataType': 'json',
            beforeSend: function(xhr) {
                $(self).find(':submit').addClass('formdisabled').attr('disabled',true);
            },
            complete:function(){
                $(self).find(':submit').removeClass('formdisabled').attr('disabled',false);
            },
            success: function(data) {
                if (data.statusCode === 200){
                    $('.message').html(data.message).show();
                    window.location.href = '/admin/users';
                }else{
                    $('.message').addClass('notice').html(data.message).show();
                }
            }
        });

        return false;
    });
</script>
{{ template "layout/footer" . }}
{{ end }}