{{ define "admin/remind" }}
{{ template "layout/header" . }}
<div id="links" class="admin">
{{ template "layout/admin_tabs" . }}
    <div id="content" class="clearfix">
        <h2>管理提醒</h2>
        <div class="message">保存成功</div>
        <div class="col-left">
            <form class="nf" action="/admin/remind" method="post" autocomplete="off">
                <div class="operate clearfix">
                    <div class="fl">
                        <a href="#">全选</a><span class="line">|</span><a href="#">反选</a>&nbsp;&nbsp;
                        <select name="gender">
                            <option value="男" selected>批量操作</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                </div>

                <table class="list">
                    <tbody>
                    <tr>
                        <th width="20">&nbsp;</th>
                        <th width="80">提醒类别</th>
                        <th>时间</th>
                        <th>内容</th>
                        <th width="80">操作</th>
                    </tr>
                    {{ if .Reminds }}
                    {{ range .Reminds }}
                    <tr>
                        <td><input type="checkbox" name="ids" value="{{.Id}}"/></td>
                        <td>{{index $.Types .Type}}</td>
                        <td>
                        {{$dlayout := index $.Layouts .Type}}
                        {{if and (ne $dlayout "") (ne .Type 4)}}
                            {{DateFormatString .RemindDate $dlayout}}
                        {{end}}

                        {{if eq .Type 4}}
                            {{WeekDayFormatString .RemindDate}} {{DateFormatString .RemindDate $dlayout}}
                        {{end}}
                        </td>
                        <td>{{.Content}}</td>
                        <td><a href="/admin/remind?id={{.Id}}">编辑</a><span class="line">|</span><a
                                href="/admin/remind_delete?id={{.Id}}" rel="confirmTodo" title="确定要删除该链接？">删除</a></td>
                    </tr>
                    {{ end }}

                    {{ else }}
                    <tr>
                        <td colspan="4" align="center">还没有提醒！</td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
                <div class="operate clearfix">
                    <div class="fl">
                        <a href="#">全选</a><span class="line">|</span><a href="#">反选</a>&nbsp;&nbsp;
                        <select name="gender">
                            <option value="男" selected>批量操作</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                {{ template "layout/pagination" . }}
                </div>
            </form>
        </div>
        <div class="col-right">
            <form id="link_form" class="vf" action="/admin/remind" method="post"
                  autocomplete="off">
                <p><label class="label_input">提醒类别</label>
                    <input type="hidden" name="id" value="{{.Remind.Id}}"/>
                    <select name="type" id="remind_type">
                        <option value="0" {{if .Remind}}{{if eq 0 .Remind.Type}}selected{{end}}{{end}}>固定</option>
                        <option value="1" {{if .Remind}}{{if eq 1 .Remind.Type}}selected{{end}}{{end}}>每分钟</option>
                        <option value="2" {{if .Remind}}{{if eq 2 .Remind.Type}}selected{{end}}{{end}}>每小时</option>
                        <option value="3" {{if .Remind}}{{if eq 3 .Remind.Type}}selected{{end}}{{end}}>每天</option>
                        <option value="4" {{if .Remind}}{{if eq 4 .Remind.Type}}selected{{end}}{{end}}>每周</option>
                        <option value="5" {{if .Remind}}{{if eq 5 .Remind.Type}}selected{{end}}{{end}}>每月</option>
                        <option value="6" {{if .Remind}}{{if eq 6 .Remind.Type}}selected{{end}}{{end}}>每年</option>
                    </select>
                </p>

                <p id="remind_date"><label class="label_input">提醒时间</label>
                    <input class="input_text laydate" size="30" name="remind_date"
                           value="{{if .Remind}}{{DateFormatString .Remind.RemindDate "2006-01-02 15:04:05"}}{{end}}">
                </p>

                <p><label class="label_input">手机号</label>
                    <input class="input_text" size="30" name="at"
                           value="{{.Remind.At}}">
                </p>
                <p>
                    <label class="label_input">提醒内容</label>
                    <textarea name="content" rows="5" cols="30">{{.Remind.Content}}</textarea>
                </p>

                <p class="act"><input class="formbutton" type="submit"
                                      value="{{ if .Remind}}修改{{else}}添加{{end}}"></p>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#link_form').submit(function () {

        var ok = true;

        var $el = $('input[name="content"]');
        if ($.trim($el.val()) === '') {
            $el.focus().closest('p').addClass('error');
            ok = false;
        }

        var self = this;
        $.ajax({
            'url': $(this).attr('action'),
            'type': this.method,
            'data': $(this).serializeArray(),
            'dataType': 'json',
            beforeSend: function (xhr) {
                $(self).find(':submit').addClass('formdisabled').attr('disabled', true);
            },
            success: function (data) {
                if (data.statusCode === 200) {
                    window.location.reload();
                } else {
                    $('.message').html(data.message).show();
                }
            }
        }).always(function () {
            $(self).find(':submit').removeClass('formdisabled').attr('disabled', false);
        });

        return false;
    });

    $('#remind_type').on("change", function () {
        var $rd = $('#remind_date');
        $rd.find("input").val('');
        $rd.show();
        window.console.log($(this).val());
        switch ($(this).val()) {
            case "1":
            case "2":
                $rd.find("input").val("{{.CurrDate}}");
                $rd.hide();
                break;
        }
    });

    laydate.render({
        elem: '.laydate'
        , type: 'datetime'
    });
</script>
{{ template "layout/footer" . }}
{{ end }}