{{ define "index/article" }}
{{ template "layout/header" . }}
<div id="main">
    {{ template "layout/mood" .Mood }}
    {{ template "layout/tabs" . }}
    <div id="content">
        <div class="article-single">
            {{ template "layout/article" Args "Post" .Post "UrlPath" $.UrlPath }}
            {{ if not (IsPage .UrlPath "/about") }}
            {{ template "layout/article_nav" . }}
            {{ end }}
        </div>
        {{ template "layout/comment" . }}
    </div>
</div>
{{ template "layout/sidebar" . }}
{{ template "layout/footer" . }}
{{ end }}