{{ define "index/index" }}
{{ template "layout/header" . }}
<div id="main">
    {{ template "layout/mood" .Mood }}
    {{ template "layout/tabs" . }}
    <div id="content">
        <div class="articles">
            {{ $exists := len .Posts}}
            {{ if gt $exists 0 }}
            {{ range $_,$post := .Posts }}
            {{ template "layout/article" Args "Post" $post "UrlPath" $.UrlPath }}
            {{ end }}
            {{ else }}
            <div class="not_article">
                没有找到相关文章！
            </div>
            {{ end }}
        </div>
        {{ template "layout/pagination" . }}
    </div>
</div>
{{ template "layout/sidebar" . }}
{{ template "layout/footer" . }}
{{ end }}