{{ define "content" }}
<div id="main">
    {{ include "layout/mood" .Mood }}
    {{ include "layout/tabs" . }}
    <div id="content">
        <div class="articles">
            {{ $exists := len .Posts}}
            {{ if gt $exists 0 }}
            {{ range $_,$post := .Posts }}
            {{ include "layout/article" (Args "Post" $post "UrlPath" $.UrlPath) }}
            {{ end }}
            {{ else }}
            <div class="not_article">
                没有找到相关文章！
            </div>
            {{ end }}
        </div>
        {{ include "layout/pagination" . }}
    </div>
</div>
{{ include "layout/sidebar" . }}
{{ end }}