{{ define "layout" }}
<!doctype html>
<html>
<head>
    <title><?php echo get_option('site_name');?></title>
    <meta http-equiv=content-type content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1"/>
    <meta name="keywords" content="xxxx"/>
    <meta name="description" content="xxxx"/>
    <link rel="shortcut icon" href="{{ resource "style/images/favicon.ico" }}" type="image/x-icon"/>
    <link media="screen" href="{{ resource "style/css/base.css" }}" type=text/css rel=stylesheet>
    <script src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="{{ resource "style/js/jquery-plugins.js" }}" type="text/javascript"></script>
    <link media="screen" href="{{ resource "public/highlight/styles/atelier-lakeside.light.css" }}" type=text/css
          rel=stylesheet>
    <script src="{{ resource "public/highlight/highlight.pack.js" }}" type="text/javascript"></script>
</head>
<body>
<div id="container">
    <div id="header" class="clearfix">
        <h1><a href="/"><img alt=首页 src="{{ resource "style/images/logo.gif" }}"><span>首页</span></a></h1>

        <div id="navigation">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="http://weibo.com/caixudong" target="_blank">微博</a></li>
                <li><a href="http://blog.fifsky.com/">技术</a></li>
                <li><a href="/guestbook">留言</a></li>
                <li><a href="/about">关于</a></li>
                <li><a href="/admin/index">管理中心</a></li>
                <li><a href="/admin/logout">退出</a></li>
                <li><a href="admin/login">登录</a></li>
            </ul>
        </div>
    </div>
    <div id="main">
        {{ template "module/mood" . }}
        {{ template "module/tabs" . }}
        <div id="content">
            {{ template "content" . }}
        </div>
    </div>
    {{ template "module/sidebar" . }}
    {{ template "module/footer" . }}

</div>
</body>
</html>
{{ end }}