.admin .tabs ul {float: left;}
.admin .tabs ul li{margin: 0 5px 0 0;}
.admin .paginator{text-align: right;float: right;padding: 0;}
.admin h2{
    border-bottom: 1px solid #CCCCCC;
    color: #444444;
    font-size: 16px;
    line-height: 200%;
    margin: -10px 0 0 0;
}
.admin h2 a{
    margin-left: 10px;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
}

.admin h2 a i{
    margin-right: 2px;
}

.operate{
    margin: 10px 0;
}
.label_input .desc{
    font-family: sans-serif;
    font-weight: normal;
    color: #666;
}
.nf {
    clear: both;
}
.nf h3 {
    border-bottom: 1px solid #EEEEEE;
    color: #444444;
    font-size: 13px;
    margin: 0.8em 0 0.5em 170px;
    width: 400px;
}
.nf .label_input {
    float: left;
    margin-right: 15px;
    text-align: right;
    width: 155px;
}
.nf .label_check {
    cursor: pointer;
    margin-left: 170px;
}
.nf .input_text {
    width: 200px;
}
.nf:after, .nf p:after,.nf .util:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}
.nf p.act {
    margin-left: 170px;
}
.vf {
    margin: 0 auto;
    width: 300px;
}
.vf label {
    font-weight: bold;
}
.vf .label_input {
    display: block;
    float: none;
    text-align: left;
}
.lf label.label_check {
    font-weight: normal;
}
.lf p {
    line-height: 26px;
}
.lf label.label_input {
    font-size: 14px;
    font-weight: normal;
}

.lf input.input_text {
    color: #444444;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    width: 280px;
}
.nf span.hint,.vf span.hint {
    color: #666666;
    display: block;
    line-height: 150%;
    margin: 3px 0 3px 0;
    font-family: sans-serif;
}


.nf span.hint ,.nf .nf_box{
    margin: 3px 0 3px 170px;
}

.nf .util{
    margin: 10px 0;
}

.admin .message,.admin .notice{
    padding: 5px 10px;
    margin: 10px 0 0;
    border-radius: 3px 3px 3px 3px;
    display: none;
}

.admin .message{
    background-color: #FFFFE0;
    border:1px solid #E6DB55;
}

.admin .notice{
    background-color: #FFEBE8;
    border-color: #CC0000;
}

table.list{
    width: 100%;

}
table.list th {
    border-bottom: 2px solid #D9E0EC;
    text-align: left;
    padding-left: 10px;
}
table.list td{
    border-bottom: 1px dashed #D9E0EC;
    border-top: 0 none;
    padding: 5px 10px;
}
table.list tr:hover{
    background:#eee;
}
table td.comment-num{
    padding: 0;
    text-align: right;
}

table td.comment-num a,table td.art-num a{
    background: none repeat scroll 0 0 #CCC;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 4px;
}
table td.comment-num a:hover,table td.art-num a:hover{
    background: none repeat scroll 0 0  #89D5EF;
    text-decoration: none;
}

table td span.tag{
    color: #E7A940;
    padding-right: 5px;
}


/* 登录 */

#sign-in #content{
    padding: 20px 50px;
}
#sign-in h2 {
    border-bottom: 1px solid #CCCCCC;
    color: #444444;
    font-size: 16px;
    line-height: 200%;
    margin: 0 0 10px;
}

/* 文章 */

#articles .vf{
    width: 100%;
}

#articles .col-right{
    width: 250px;
}
#articles .col-left ul{
    list-style: none;
}
#articles .col-left li{
    float: left;
    width: 150px;
}

.col-left{
    width: 700px;
    float: left
}
.col-right{
    float: right;
}

/* 评论 */
#comments .vf{
    width: 500px;
}

/* 分类 心情 链接 */

#cates table td.art-num{
    text-align: left;
}

#cates .col-right .vf,#links .col-right .vf,#moods .col-right .vf{
    width: 250px;
    padding-top: 31px;
}

/* 页面 */
#pages .vf{
    width: 100%;
}
#pages .col-right{
    width: 250px;
}

#pages .operate .input_text{
    width: 100px;
}

/* 用户 */
#users .vf{
    width: 500px;
}