{{ define "layout/comment" }}
<div class="comment" id="comments">
    <h3><span class=commsty>评论内容</span></h3>
    <ul>
    {{ if not .Comments }}
        <li class="comment-null">还没有评论!</li>
    {{ else }}
        {{ range .Comments }}
            {{ template "layout/comment_item" . }}
        {{ end }}
    {{ end }}
    </ul>
    <div class="comment-form">
        <form id="comment_form" action="/post/comment" method="post">
            <p><textarea name="content" placeholder="内容"></textarea></p>
            <p>
                <input type="text" class="input_text" name="name" placeholder="昵称"/>
                <input type="hidden" name="post_id" value="{{ .Post.Id }}"/>
            </p>
            <p><input class="formbutton" type="submit" value="提交"></p>
        </form>
    </div>
</div>
{{ end }}