{{ define "layout/footer" }}
<div id="footer">
    <p>
        <a href="http://weibo.com/yuanzi" target=_blank>最好的我们</a> |
        <a href="http://chibaole.com/" target=_blank>吃饱了</a> &copy;2018 fifsky.com
    </p>

    <p class="info">Build version {{ .GOVERSION }} <a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备14029559号</a></p>
</div>
<a id="scroll_top" href="#top">返回顶部</a>
{{ if not .IsAdminPage }}
<script type="text/javascript" src="{{ StaticUrl }}style/js/main.js"></script>
<script type="text/javascript">
    hljs.configure({tabReplace: '    '});
    hljs.initHighlightingOnLoad();
</script>
{{ else }}
<script type="text/javascript" src="{{ StaticUrl }}style/js/admin.js"></script>
{{ end }}
</div>
</body>
</html>
{{ end }}