{{ define "layout/footer" }}
<div id="footer">
    <p>
        <a href="http://www.pps.tv/" target=_blank>PPS</a> |
        <a href="http://weibo.com/caixudong" target=_blank>微博</a> |
        <a href="http://weibo.com/yuanzi" target=_blank>果丹和皮</a> |
        <a href="https://qhsuyi.taobao.com/"
           target=_blank>铅华素衣</a> |
        <a href="http://chibaole.com/" target=_blank>吃饱了</a> &copy; 2017 fifsky.com
    </p>

    <p class="info">Fyblog v2.0 <a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备14029559号</a></p>
</div>
<a id="scroll_top" href="javascript:void(0)">返回顶部</a>
{{ if not .IsAdminPage }}
<script type="text/javascript" src="{{ StaticUrl }}style/js/main.js"></script>
<script type="text/javascript">
    hljs.configure({tabReplace: '    '});
    hljs.initHighlightingOnLoad();
</script>
{{ else }}
<script type="text/javascript" src="{{ StaticUrl }}style/js/admin.js"></script>
<script>
    laydate.render({
        elem: '.laydate'
        ,type: 'datetime'
    });
</script>
{{ end }}
</div>
</body>
</html>
{{ end }}