{{ define "layout/header" }}
<!doctype html>
<html>
<head>
    <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .SiteTitle }}</title>
    <meta http-equiv=content-type content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1"/>
    <meta name="keywords" content="{{ .SiteKeyword }}"/>
    <meta name="description" content="{{ .SiteDesc }}"/>
    <link rel="shortcut icon" href="{{ StaticUrl }}style/images/favicon.ico" type="image/x-icon"/>
    <link media="screen" href="{{ StaticUrl }}style/css/base.css" type=text/css rel=stylesheet>
    {{ if not .IsAdminPage }}
    <link media="screen" href="{{ StaticUrl }}public/highlight/styles/atelier-lakeside.light.css" type=text/css
          rel=stylesheet>
    {{ else }}
    <link media="screen" href="{{ StaticUrl }}style/css/admin.css" type=text/css
          rel=stylesheet>
    <link media="screen" href="{{ StaticUrl }}public/wangEditor-2.1.23/dist/css/wangEditor.min.css" type=text/css
              rel=stylesheet>
    {{ end }}
</head>
<body>
<div id="container">
    <div id="header" class="clearfix">
        <h1><a href="/"><img alt=首页 src="{{ StaticUrl }}style/images/logo.gif"><span>首页</span></a></h1>

        <div id="navigation">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="https://github.com/fifsky" target="_blank">Github</a></li>
                <li><a href="http://blog.fifsky.com/">技术</a></li>
                <li><a href="/about">关于</a></li>
                {{ if .LoginUser }}
                <li><a href="/admin/index">管理中心</a></li>
                <li><a href="/admin/logout">退出</a></li>
                {{ else }}
                <li><a href="admin/login">登录</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ end }}