<div id="info">
    <div id="avatar"><img title="莫一哲" alt="莫一哲" src="{{ StaticUrl }}style/images/faceicon.jpg"></div>
    <div id="latest">
        {{ range $k,$v := .Moods }}
        <p class="current {{if eq $k 0}}active{{end}}">
            {{ .Content | Unescaped }}
            <span class="stamp">
                <span class="method">{{ DateFormat .CreatedAt "2006-01-02 15:04" }} by {{.NickName}}</span>
            </span>
        </p>
        {{ end }}
    </div>
    <div class="handle">
        <i class="iconfont icon-left" title="上一条" data-handle="prev"></i>
        <i class="iconfont icon-right" title="下一条" data-handle="next"></i>
    </div>
</div>