<ul class="paginator">
{{if .Pager.HasPrevious}}
<li>
    <a href="{{ PageUrl .URI .Pager.Previous}}">&lt;上一页</a>
</li>
{{end}}

{{range .Pager.Pages}}
    {{if eq .Num -1}}
        ...
    {{else}}
        {{if .IsCurrent}}
        <li class="normal">{{.Num}}</li>
        {{else}}
        <li>
            <a href="{{ PageUrl $.URI .Num}}">{{.Num}}</a>
        </li>
         {{end}}
    {{end}}
{{end}}

{{if .Pager.HasNext}}
<li>
    <a href="{{ PageUrl .URI .Pager.Next}}">下一页&gt;</a>
</li>
{{end}}
</ul>