{{ define "layout/sidebar" }}
<div id="sidebar">

    <div class="sect" id="search">
        <form id="searchpanel" action="/search" method="get">
            <p>
                <input class="input_text" type="text" value="" name="keyword">
                <input class="formbutton" type="submit" value="搜索">
            </p>
        </form>
    </div>

    <div class="sect">
        <div id="blog-calendar">
            <table class="canlender">
                <tbody>
                <tr>
                    <td><a href="javascript:void(0);" class="_cal_handel _prev_year">&lt;&lt;</a></td>
                    <td><a href="javascript:void(0);" class="_cal_handel _prev_month">&lt;</a></td>
                    <td colspan="3">2017-08</td>
                    <td><a href="javascript:void(0);" class="_cal_handel _next_month">&gt;</a></td>
                    <td><a href="javascript:void(0);" class="_cal_handel _next_year">&gt;&gt;</a></td>
                </tr>
                <tr>
                    <td class="happy">日</td>
                    <td>一</td>
                    <td>二</td>
                    <td>三</td>
                    <td>四</td>
                    <td>五</td>
                    <td class="happy">六</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td class="today">16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="sect">
        <h2>文章分类</h2>
        <ul class="tlist">
            {{ range .Cates }}
            <li>
                <a href="/categroy/{{.Domain}}">{{.Name}}</a>
                <a href="#" target="_blank"><img src="//s.fifsky.com/style/images/rss.png"></a>
            </li>
            {{ end }}
        </ul>
    </div>

    <div class="sect">
        <h2>历史存档</h2>
        <ul class="tlist">
            {{ range .Archives }}
            <li><a href="/date/{{.ym}}">{{.ym}}({{.total}})</a></li>
            {{ end }}
        </ul>
    </div>

    <div class="sect">
        <h2>最新评论</h2>
        <ul class="tlist">
        {{ range .NewComments }}
            <li><a href="{{if eq .Type 2}}/{{.Url}}#comments{{else}}/article/{{.PostId}}#comments{{end}}">{{.Content}}</a></li>
        {{ end }}
        </ul>
    </div>

    <div class="sect">
        <h2>我关注的</h2>
        <ul class="tlist">
            {{ range .Links }}
            <li>
                <a title="{{.Name}}" href="{{.Url}}" target="_blank"><span>{{.Name}}</span></a>
            </li>
            {{ end }}
        </ul>
    </div>
    <div class="rss">
        <div class="rss-ico"><a href="/feed" target="_blank">订阅我的消息</a></div>
    </div>
</div>
{{ end }}