<div id="sidebar">
    <div class="sect" id="search">
        <form id="searchpanel" action="/search" method="get">
            <p>
                <input class="input_text" type="text" value="" name="keyword">
                <input class="formbutton" type="submit" value="搜索">
            </p>
        </form>
    </div>

    <div class="sect">
        <div id="blog-calendar"></div>
    </div>

    <div class="sect">
        <h2>文章分类</h2>
        <ul class="tlist">
            {{ range .Cates }}
            <li>
                <a href="/categroy/{{.Domain}}">{{.Name}}({{.Num}})</a>
                <a href="#" target="_blank"><i class="iconfont icon-rss" style="color: #ff8c16;font-size: 12px"></i></a>
            </li>
            {{ end }}
        </ul>
    </div>

    <div class="sect">
        <h2>历史存档</h2>
        <ul class="tlist">
            {{ range .Archives }}
            <li><a href="/date/{{.ym}}">{{.ym}}({{.total}})</a></li>
            {{ end }}
        </ul>
    </div>

    <div class="sect">
        <h2>最新评论</h2>
        <ul class="tlist">
        {{ range .NewComments }}
            <li><a href="{{if eq .Type 2}}/{{.Url}}#comments{{else}}/article/{{.PostId}}#comments{{end}}">{{.Content}}</a></li>
        {{ end }}
        </ul>
    </div>

    <div class="sect">
        <h2>我关注的</h2>
        <ul class="tlist">
            {{ range .Links }}
            <li>
                <a title="{{.Name}}" href="{{.Url}}" target="_blank"><span>{{.Name}}</span></a>
            </li>
            {{ end }}
        </ul>
    </div>
    <div class="rss">
        <i class="iconfont icon-feed" style="color: orangered"></i><a href="/feed" target="_blank">订阅我的消息</a>
    </div>
</div>